{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block body %}


  
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(img/slide/slide-1.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Bienvenue à <span>H.M.S RENOV</span></h2>
                <p class="animate__animated animate__fadeInUp">H.M.S RENOV est une entreprise spécialisée tous corps d’état du bâtiment (démolition, maçonnerie, carrelage, plomberie, chauffage, électricité, menuiserie sur mesure, peinture, remplacement de fenêtres) qui saura vous accompagner dès notre 1ère rencontre jusqu’à la fin de votre projet.</p>
                <a href="{{path('app_a_propos')}}" class="btn-get-started animate__animated animate__fadeInUp">Lire la suite</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url(img/slide/slide-2.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated fanimate__adeInDown">Nos <span>Catégories</span></h2>
                <p class="animate__animated animate__fadeInUp">Nous collaborons étroitement avec nos clients afin de bien comprendre leurs besoins et donner vie à leurs idées. Nous savons répondre aux exigences les plus complexes. Nous mettons un point d'honneur à opérer un suivi rigoureux du cahier des charges pour chaque projet. H.M.S Renov peut ainsi garantir des prestations de qualité, au prix fixé avec le client et dans des délais toujours précis.</p>
                <a href="{{path('app_categorie')}}" class="btn-get-started animate__animated animate__fadeInUp">Lire la suite</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url(img/slide/slide-3.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Nos <span>Realisations</span></h2>
                <p class="animate__animated animate__fadeInUp">Pour chaque réalisation, H.M.S RENOV s’engage à apporter le plus grand soin à la préparation et à l’exécution de votre chantier en protégeant l’environnement aux alentours, en veillant à effectuer les travaux dans les règles de l’art et à sécuriser également ses collaborateurs lors de vos travaux de rénovation.</p>
                <a href="{{path('app_project')}}" class="btn-get-started animate__animated animate__fadeInUp">Lire la suite</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h3>UNE ÉQUIPE D'EXPERTS</h3>
              <p>Pour un accompagnement personnalisé</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h3>LES MEILLEURS ARTISANS</h3>
              <p>Sélectionnés spécialement pour votre projet</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h3>ESTIMATION GRATUITE</h3>
              <p>Devis estimatif détaillé</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="img/about1.jpg" style="border-radius: 3%;" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>POURQUOI CHOISIR H.M.S RENOV ?</h3>
            <p class="fst-italic">
              En effet, depuis plus de 10 ans, nous mettons notre savoir-faire à votre disposition afin de répondre à l’ensemble de vos besoins.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Travailler avec nous implique une série d’étapes soigneusement planifiées, articulées autour d’un calendrier auquel nous adhérons et une communication quotidienne.</li>
              <li><i class="bi bi-check-circle"></i> Pour vous, nous combinons un travail de qualité, une connaissance supérieure et des prix bas pour vous fournir un service inégalé par nos concurrents</li>
              <li><i class="bi bi-check-circle"></i> Nous disposons de toutes les certifications et réglementations nécessaires à la bonne réalisation de vos travaux de rénovation.</li>
            </ul>
            <p>
 Confiez vos travaux de rénovation intérieure, rénovation extérieure et maçonnerie à une entreprise de confiance, qui prend le temps de satisfaire la demande de chacun de ses clients. 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    
    <section id="services" class="services">
    
      <div class="container">
        <div class="section-title">
          <h2>PRESTATIONS PROPOSÉES PAR H.M.S Renov</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-house-door"></i></div>
              <h4><a href="">Rénovation</a></h4>
              <p>Nous réalisons vos travaux pour vous offrir un nouvel intérieur.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Agencement</a></h4>
              <p>Notre savoir-faire et nos conseils pour aménager votre habitation.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-building"></i></div>
              <h4><a href="">Conception</a></h4>
              <p>Envie d'un dressing ? Nous intervenons pour réaliser vos souhaits.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-palette"></i></div>
              <h4><a href="">Peinture</a></h4>
              <p>Murs, plafonds... rédéfinissez l'ambiance de vos pièces</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-hammer"></i></div>
              <h4><a href="">Dépannage</a></h4>
              <p>H.M.S Renov vous aide au quotidien pour résoudre vos problèmes.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-droplet"></i></div>
              <h4><a href="">Plomberie</a></h4>
              <p>Un problème de tuyauterie, créer un point d'eau... faites appel à nos services</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="section-title">
          <h2>Nos partenaires</h2>
        </div>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="img/clients/client-8.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>






{% endblock %}
