{% extends '@EasyAdmin/layout.html.twig' %}


{% block header_logo %}
    <a href="{{ path('app_home') }}?entity=Usuario&action=list"> H.M.S RENOV </a>
{% endblock header_logo %}

{% block content %}
<div class="jumbotron">
<h1 class="display-4">Administration</h1>
<p class="lead">Bienvenue dans l'interface d'administration H.M.S RENOV</p>
</div>
{% endblock %}