{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
<div class="jumbotron">
<h1 class="display-4">Admnist ration</h1>
<p class="lead">Bienvenue dans l'interface d'administ rati</p>
</div>
{% endblock %}