<!DOCTYPE html>
<html>
<head>
  <meta charset= "UTF-8">
  <meta name"viewport" content= "width=device-width, initial-scale=1">
  <title>{% block title %}H.M.S RENOV{% endblock %}</title>
  {% block stylesheets %}{{ encore_entry_link_tags('app')}}{% endblock %}
  {% block javascripts %}{{ encore_entry_script_tags ('app')}} {% endblock %}

      {% include "base/href.html.twig" %}
</head>
    <body>
    {% include "base/nav.html.twig" %}

    {% block body %} {% endblock %}
    {% include "base/footer.html.twig" %}
    {% include "base/script.html.twig" %}
    </body>
</html>